$color: #fcf;

body {
    background-color: $color;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

// 首页的布局样式
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.ant-layout .site-layout-background {
    background: #d9e6e9;
}